
body {
    color: white;
    }
hr{
        margin-top: 0;
        margin-bottom: 0;
    }
    h1 { 
        font-size: 100px; 
        font-style: normal; 
        font-variant: normal; 
        margin: 0px;
        font-weight: normal;
        display: inline;
        }
        h2 { 
            font-size: 85px; 
            font-style: normal; 
            font-variant: normal; 
            margin: 0px;
            font-weight: normal;
            display: inline;
            }
        h3 { 
            font-size: 70px; 
            font-style: normal; 
            font-variant: normal; 
            margin: 0px;
            font-weight: normal;
            display: inline;
            }
        h4 { 
            font-size: 40px; 
            font-style: normal; 
            font-variant: normal; 
            margin: 0px;
            font-weight: normal;
            display: inline;
            }
        h5 { 
            font-size: 25px; 
            font-style: normal; 
            font-variant: normal;  
            margin: 0px;
            font-weight: normal;
            display: inline;
            }
            @font-face { font-family: NightmareStory; src: url('NightmareStory-BWV8V.ttf'); } 
        h6 { 
            font-family: NightmareStory;
            color: red;
            font-size: 20px; 
            font-style: normal; 
            font-variant: normal; 
            margin: 0px;
            font-weight: normal;
            display: inline;
            text-shadow:
    0 0 7px #ff0000;
            }
            
            a:link {
                color: blue;
            }
            
            a:hover {
                color: royalblue;
            }
            
            a:visited {
                color: blue;
            }
@font-face { font-family: Evora; src: url('Evora05.otf'); } 
 .evora {
    font-family: Evora;
    display: inline;
  }
  @font-face { font-family: RyukExtra; src: url('RyukExtra.ttf'); } 
  .ryuk {
     font-family: RyukExtra;
     font-size: 20px; 
     display: inline;
   }
   @font-face { font-family: death_font_ver1_0; src: url('death_font_ver1_0.ttf'); } 
  .deathnote {
     font-family: death_font_ver1_0;
     display: inline;
   }
   @font-face { font-family: CloisterBlack; src: url('CloisterBlack .ttf'); } 
  .gothic {
     font-family: CloisterBlack;
     display: inline;
   }
 .impact {
    font-family: "Impact", "Haettenschweiler", "Arial Black", "sans serif"; 
    display: inline;
  }
  .comicsans {
    font-family: "Comic Sans MS", "Comic Sans", Arial;
    display: inline;
  }
  .blood { 
    font-family: NightmareStory;
    color: red;
    font-size: 20px; 
    font-style: normal; 
    font-variant: normal; 
    margin: 0px;
    font-weight: normal;
    display: inline;
    text-shadow: 0 0 7px #ff0000;
    }
.nightmare { 
    font-family: NightmareStory;
    font-size: 20px; 
    font-style: normal; 
    font-variant: normal; 
    margin: 0px;
    font-weight: normal;
    display: inline;
    }
    .yellow { 
        color: rgb(238, 255, 0);
        font-style: normal; 
        font-variant: normal; 
        margin: 0px;
        font-weight: normal;
        display: inline;
    
        }
        .brown { 
            color: rgb(63, 46, 0);
            font-style: normal; 
            font-variant: normal; 
            margin: 0px;
            font-weight: normal;
            display: inline;
        
            }
            .red { 
                color: rgb(255, 0, 0);
                font-style: normal; 
                font-variant: normal; 
                margin: 0px;
                font-weight: normal;
                display: inline;
            
                }
  @font-face { font-family: Stencil; src: url('stencil.ttf'); } 
  .glowie { 
    font-family: Stencil;
    color: rgb(0, 0, 0);
    font-size: 20px; 
    font-style: normal; 
    font-variant: normal; 
    margin: 0px;
    font-weight: normal;
    display: inline;
    text-shadow: 0 0 7px rgb(0, 255, 0);
    }
    .glowie_ryuk { 
        font-family: RyukExtra;
        color: rgb(0, 255, 0);
        font-size: 20px; 
        font-style: normal; 
        font-variant: normal; 
        margin: 0px;
        font-weight: normal;
        display: inline;
        text-shadow: 0 0 7px rgb(0, 255, 0);
        }
    @font-face { font-family: Stencil Regular; src: url('Stencil\ Regular.ttf'); } 
    .epstein { 
        font-family: Stencil Regular;
        color: rgb(0, 4, 255);
        font-size: 20px; 
        font-style: normal; 
        font-variant: normal; 
        margin: 0px;
        font-weight: normal;
        display: inline;
        text-shadow: 0 0 7px rgb(0, 4, 255);
        }
   .glow_red { 
        text-shadow:0 0 7px #ff0000;
        }
    .neffy { 
        font-family: CloisterBlack;
        color: rgb(0, 0, 0);
        font-size: 20px; 
        font-style: normal; 
        font-variant: normal; 
        margin: 0px;
        font-weight: normal;
        display: inline;
        text-shadow:1px 0 2px #ff0000,-1px 0 2px #ff0000, 0 1px 2px #ff0000,0 -1px 2px #ff0000;
        }
.button {
    background-color: blue;
    color: white;
}
.container{
    left: 50%;  height: fit-content; border: 1px solid rgb(255, 255, 255);  background-color: black;
    margin-top: 60px;
    margin-left: 100px;
    margin-right: -20px;
    padding: 40px;
}
.containercenter{
    border: 1px solid rgb(255, 255, 255);  background-color: black; padding: 40px; margin-top: 60px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    text-align: center;
}
.p{
    width: fit-content; height: fit-content; float: right;
    padding: 40px;
}
.quote{
    margin: 40px;

}
.col{
    width: fit-content; height: fit-content; background-color: black; float: right;
    border: 1px solid white;
    
}
.floatleft{
    float: left;
    
}
.floatright{
    float: right; 
}


.back{
    position: fixed;
    z-index: 3;
    left: 0%;
    top: 0%;
    width: 0;
}


