



body {
    background-color: black;
    background-image: url(background.png);
    padding-left: 90px;
    padding-top: 90px;
    font-family: "Comic Sans MS", "Comic Sans", Arial;
    font-size: 25px;
    color: white;
    }
    

h1 { 
    font-family: "Impact", "Haettenschweiler", "Arial Black", "sans serif"; 
    font-size: 100px; 
    font-style: normal; 
    font-variant: normal; 
    margin-bottom: 0px;
    margin-top: 0px;
    font-weight: normal;
    }
    .stroke-after:after { 
        -webkit-text-stroke: 15px rgb(255, 0, 0);
        content: attr(value);
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
      }
h2 { 
    font-family: "Impact", "Haettenschweiler", "Arial Black", "sans serif"; 
    font-size: 85px; 
    font-style: normal; 
    font-variant: normal; 
    margin-bottom: 0px;
    margin-top: 0px;
    font-weight: normal;
    }
h3 { 
    font-family: "Impact", "Haettenschweiler", "Arial Black", "sans serif"; 
    font-size: 70px; 
    font-style: normal; 
    font-variant: normal; 
    margin-bottom: 0px;
    margin-top: 0px;
    font-weight: normal;
    }
h4 { 
    font-family: "Impact", "Haettenschweiler", "Arial Black", "sans serif"; 
    font-size: 55px; 
    font-style: normal; 
    font-variant: normal; 
    margin-bottom: 0px;
    margin-top: 0px;
    font-weight: normal;
    }
h5 { 
    font-family: "Impact", "Haettenschweiler", "Arial Black", "sans serif"; 
    font-size: 40px; 
    font-style: normal; 
    font-variant: normal;  
    margin-bottom: 0px;
    margin-top: 0px;
    font-weight: normal;
    }
h6 { 
    font-family: "Impact", "Haettenschweiler", "Arial Black", "sans serif"; 
    font-size: 25px; 
    font-style: normal; 
    font-variant: normal; 
    margin-bottom: 0px;
    margin-top: 0px;
    font-weight: normal;
    }
p {
    margin-top: 0px;
    margin-bottom: 20px;
    position: relative;
    flex-wrap: wrap;
}

.button {
    background-color: blue;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

hr{
    position: absolute;
    left: 0;
    margin-top: 0;
    margin-bottom: 0;
    width: 1700;
}


a:link {
    color: blue;
}

a:hover {
    color: royalblue;
}

a:visited {
    color: blue;
}


.wave{
    
    font-size: 130;
    
}
span{
    position: relative;
    display: inline-block;
    animation: waveAnim 1s infinite;
    animation-delay: calc(.1s * var(--i));
} 
@keyframes waveAnim{
    0%,50%,100% {
        transform: translateY(0);
    }
    50%{
        transform: translateY(70px);
    }
 
}



.bluetitle {
    
    background: linear-gradient(180deg, rgba(0,0,31,0.2) 0%, rgba(38, 0, 255, 0.5) 60%, rgba(107, 74, 255, 1) 100%);
    position: relative;
    z-index: 3;
    width: 1700;

}
.redtitle {
    
    background: linear-gradient(180deg, rgba(31, 0, 0, 0.2) 0%, rgba(255, 0, 0, 0.5) 60%, rgb(255, 0, 0) 100%);
    position: relative;
    z-index: 3;
    width: 1700;

}



.left {
    position: relative;
    z-index: 3;
    transform:translateX(1200px)

    
}

.squidkinghiddenlink {
    position: relative;
    z-index: 3;


    
}
.box{
    position: absolute;
    z-index: 2;
    background: black;
    left: 100;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 1700px;
}


